.widget {
  background-color: white;
  border: 3px solid #e1ecef;
  border-radius: 0.7rem;
  width: 29.3rem;
  height: 14.5rem;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1); 
}

#widgetRemoveIcon {
  visibility: hidden;
  transition: visibility 0.3s ease;
}

.widget:hover #widgetRemoveIcon {
    visibility: visible;
}

.widget-body {
  display: flex;
  justify-content: center;
  align-content: center;
}

.defaultFigure {
  margin: 4.1rem;
}

.noDataIcon {
  font-size: 2.3rem;
  color: rgb(205, 205, 205);
  margin-left: 2.2rem;
}

.noDataCaption {
  font-size: 0.75rem;
  font-weight: 648;
}
